@font-face {
  font-family: 'iconfont';  /* project id 625031 */
  src: url('//at.alicdn.com/t/font_625031_93a816cxgvp.eot');
  src: url('//at.alicdn.com/t/font_625031_93a816cxgvp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_625031_93a816cxgvp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_625031_93a816cxgvp.woff') format('woff'),
  url('//at.alicdn.com/t/font_625031_93a816cxgvp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_625031_93a816cxgvp.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

